@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Ubuntu:wght@400;500&display=swap');

*{
    margin : 0px;
    padding : 0px;
    
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root{
    --navbar-height:60px;

}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    background-color: white;
    position: sticky;
    justify-content: space-between;
    z-index: 3;
    
}
nav .name{
    font-family: 'poppins', sans-serif;
    margin-top: 12px;
    float: left;
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.15em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo{
    left: 0px;
    margin: 1px 1px;
    
}

#logo img{
    
    height: 60px;
    width: 60px;
    margin: 1px 1px;
    
}
#navbar ul{
    display: flex;
    margin-top: 18px;    
}

#navbar ul li{
    display: inline-block;
    list-style: none;
    font-size:  1.45rem;

} 

#navbar::before{
    content:"";
    position: absolute;
    height: 7%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;

    
}

#navbar ul li a{
    color: black;
    padding: 3px 13px;
    text-decoration: none;
    border-radius: 28px;
    margin-left: 5px;
}

#navbar ul li a.active{
    color: white;
    background-color: black;
}

#navbar ul li a:hover{
    background-color: black;
    color: white;
}
#menuIcon{
    margin: 0 20px;
    margin-bottom: 12px;
    font-size: 36px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:950px){
    #menuIcon{
        display: block;
    }
    #menu{
        display: flex;
        flex-direction: column;
        display: none;    
    }
    #menubar ul{
        display: none;
    }
    
}
@media only screen and (max-width:500px){
    .subheading1{
        font-size: 3vh;
        margin-top: 20%;
    }
    .heading1{
        font-size: 3.5vh;
        
    }
    .btn{
        font-size: 2.5vh;

    }

}
